body{
    font-family: "Helvetica", "Arial", sans-serif;
}

.titulos{
    color: rgb(140, 0, 255);
}   

body {
    background-color: rgb(149, 206, 225);
}

#texto {
    color: black;
    font-size: large;
}